table {
    margin: 20px auto; 
    border-collapse: collapse;
    background-color: beige;
}

td, th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th > a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #5ad15e;
    padding: 10px;
    border-radius: 5px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #2E7D32;
    border-radius: 5px;
}
nav a:hover {
    background-color: #1B5E20;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

button.add {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
}

button.add:hover {
    background-color: #388E3C;
}

button.remove {
    background-color: #e20505;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
}

button.remove:hover {
    background-color: #9e0202;
}

p {
    text-align: center;
}

div.error {
    background-color: lightcoral;
    margin: 10px;
    padding: 5px 15px;
  }

div.clearCart {
    background-color: rgb(218, 16, 9);
    margin: 10px;
    padding: 5px 15px;
}